#pragma once

// --- Wake-on-LAN (WoL) の設定 ---
// 起動させたいPCのMACアドレスを "AA:BB:CC:DD:EE:FF" の形式でここに入力してください
inline const char* MAC_ADDRESS = "AA:BB:CC:DD:EE:FF";


// Wi-FiのSSIDとパスワードをここに入力してください
inline const char* ssid = "YOUR_WIFI_SSID";
inline const char* password = "YOUR_WIFI_PASSWORD";

// --- Yahoo!天気APIの設定 ---
// Yahoo! JAPAN Developer Networkで取得したClient IDを入力してください
inline const char* YAHOO_APP_ID = "YOUR_YAHOO_CLIENT_ID";
// 観測したい地点の緯度と経度を入力してください (例: 東京駅)
inline const char* LATITUDE = "35.681236";
inline const char* LONGITUDE = "139.767125";